.table {
    border-collapse: collapse;
    width: 100%;

    &__row:nth-child(odd) {
        background-color: $blue-background;
    }

    &__cell {
        line-height: 2em;
        padding-left: 10px;
        border-radius: 5px;
    }
}